<!DOCTYPE html>
<html>
    <head>
        <title>Mercado Liebre</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
        <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css "
        rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet">
        
    </head>
    <body>
        <header>
            <div id="header">
            <div>
                <img width="300" src="/images/logo-mercado-liebre.svg" />
            <div><input type="text"> <i class="fas fa-search"></i></div>
            
            <div><p>Comprá en cuotas y sin tarjeta </p> </div>
            <ul>
                <li><a href="#Ofertas">Ofertas</a></li>
                <li><a href="#Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li><a href="#Vender">Vender</a></li>
                <li><a href="#Ayuda">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#Creá tu cuenta">Creá tu cuenta</a> <i class="far fa-id-card"></i> </li>
                <li><a href="#Ingresá">Ingresá</a> <i class="fas fa-sign-in-alt"></i> </li> 
                <li><a href="#Mis compras">Mis compras</a> <i class="fas fa-shopping-basket"></i> </li>
            </ul>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            </div>
            

        </header>
        <main>
               
            <img width="510" class="banner" src="/images/img-home-banner.jpg" alt="imagen de Banner">
            
        <section id='last-search'>
                <h2 class= "titulares">Basado en tu última visita</h2>

            <article class="item">
                <img width="450" src="/images/img-cafetera-moulinex.jpg" alt="imagen de Cafetera">
                <div class="truck">
                <i class="fas fa-truck"></i>
                </div>
                <p class="precio">$6.770</p>
                <p class="discount">40% OFF</p>    
                <p class="descuentodescripcion">"Cafetera Moulinex"</p>
            </article>
               
            <article class="item">
                <img width="450" src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019.jpg">
                <div class="truck">
                <i class="fas fa-truck"></i>
                </div>
                <p class="precio">$230.000</p>
                <p class="discount">20% OFF</p>    
                <p class="descuentodescripcion">"MacBook Pro 2019"</p>
            </article>
            
            <article class="item">
                <img width="450" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de Samsung Galaxy S10">
                <div class="truck">
                <i class="fas fa-truck"></i>
                </div>
                <p class="precio">$70.500</p>
                <p class="discount">10% OFF</p>    
                <p class="descuentodescripcion">"Samsung Galaxy S10"</p>
            </article>
        
            <article class="item">
                <img width="450" src="/images/img-tv-samsung-smart.jpg" alt="imagen de SmartTv Samsung 43">
                <div class="truck">
                <i class="fas fa-truck"></i>
                </div>
                <p class="precio">$23.200</p>
                <p class="discount">5% OFF</p>    
                <p class="descuentodescripcion">"SmartTv Samsung 43"</p>
            </article>

        </section>

        <section>
                <h2 class= "titulares">Sección de Ofertas</h2>

            <article class="item">
                <img width="450" src="/images/img-cafetera-moulinex.jpg" alt="imagen de Cafetera">
                <div class="truck">
                <i class="fas fa-truck"></i>
                </div>
                <p class="precio">$6.770</p>
                <p class="discount">40% OFF</p>    
                <p class="descuentodescripcion">"Cafetera Moulinex"</p>
            </article>
               
            <article class="item">
                <img width="450" src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019.jpg">
                <div class="truck">
                <i class="fas fa-truck"></i>
                </div>
                <p class="precio">$230.000</p>
                <p class="discount">20% OFF</p>    
                <p class="descuentodescripcion">"MacBook Pro 2019"</p>
            </article>
            
            <article class="item">
                <img width="450" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de Samsung Galaxy S10">
                <div class="truck">
                <i class="fas fa-truck"></i>
                </div>
                <p class="precio">$70.500</p>
                <p class="discount">10% OFF</p>    
                <p class="descuentodescripcion">"Samsung Galaxy S10"</p>
            </article>
        
            <article class="item">
                <img width="450" src="/images/img-tv-samsung-smart.jpg" alt="imagen de SmartTv Samsung 43">
                <div class="truck">
                <i class="fas fa-truck"></i>
                </div>
                <p class="precio">$23.200</p>
                <p class="discount">5% OFF</p>    
                <p class="descuentodescripcion">"SmartTv Samsung 43"</p>
            </article>

        </section>

        </main>

        </body>
        <footer>
        <section>
            <div class="credit-card">

                <i class="fas fa-credit-card"></i>
            </div>
                <h4>Paga con tarjeta o en efectivo</h4>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
        </section>
        <section>
            <div class="gift">
            <i class="fas fa-gift"></i>
            </div>  
                <h4>Envío gratis desde $ 2.500</h4>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
        </section>
        <section> 
            <div class="user-shield">
            <i class="fas fa-user-shield"></i>
            </div>
                <h4>Seguridad, de principio a fin</h4>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
        </section>
        <section>    
            <p>
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </section>
</footer>
</html>